<ion-view id="login" hide-nav-bar="true">
    <ion-content padding="true" scroll="false">
    <br><br><br> <br><br><br>
        
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">
                    <div class="header padding text-center">
                        <img src="img/cc_logo.png" alt="Your logo here" >
                    </div>

                    <div class="list">
                        <label class="item item-input">
                            <input type="text" ng-model="loginObj.userName" placeholder="User Name">
                        </label>
                        <label class="item item-input">
                            <input type="password" ng-model="loginObj.password" placeholder="Password">
                        </label>
                    </div>

                    <button class="button button-block button-light" style="color: red;" on-touch="loginUser(loginObj)">
                        Log In
                    </button>

                    <div class="row row-no-padding">
                        <div class="col">
                            <button class="button button-clear button-light">
                                Forgot password?
                            </button>
                        </div>

                        <div class="col text-right">
                            <button class="button button-clear button-light">
                                Sign up
                            </button>
                        </div>
                    </div>
                </div>
            </div>
      
    </ion-content>
</ion-view>